/* .navWrapper {
  position: fixed;
  top: 0;
  background-color: #fff;
} */

.instruction {
  margin-bottom: 0;
  font-size: 1.3em;
  font-weight: bold;
}

.buttons button {
  margin: 1.0em 0.5em 1.0em 0;
  padding: 0.45em;
  font-size: 0.8em;
  font-weight: 400;
  letter-spacing: 1px;
  cursor: pointer;
  text-decoration: none;
}

.showBttButton {
  display: inline;
  margin-left: 0.2em;
  border-left: 1px solid var(--darkBlue);
  color: var(--darkBlue);
}

.hideBttButton {
  display: none;
}

.inactive {
  color: var(--darkBlue);
  background-color: var(--cream);
  border: 1px solid var(--darkBlue);
}

.active {
  color: var(--cream);
  background-color: var(--darkBlue);
}

.viewCount {
  bottom: 0;
  position: sticky;
  width: inherit;
  padding: 0.4em;
  font-size: 0.9em;
  background-color: #fff;
  color: var(--darkBlue);
  text-align: center;
}

@media only screen and (min-width: 1024px) {
  .instruction {
    font-size: 1.75em;
  }
}