.instruction {
  margin-bottom: 0;
}

.buttons button {
  margin: 0.7em 0.5em 0.7em 0;
  padding: 0.4em;
  font-weight: bold;
  font-size: 0.8em;
  letter-spacing: 0.9px;
  cursor: pointer;
  text-decoration: none;
}

.inactive {
  color: var(--darkBlue);
  background-color: var(--cream);
}

.active {
  color: var(--cream);
  background-color: var(--darkBlue);
}

.viewCount {
  bottom: 0;
  position: sticky;
  width: inherit;
  padding: 0.4em;
  font-size: 0.9em;
  background-color: #fff;
  color: var(--darkBlue);
  text-align: center;
}